* {
    box-sizing: border-box;
}

body {
    display: flex;
    /* align-items: center; */
}

.case  {
    border: 2px solid black;
    width: 265px;
    height: 430px;
    right: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: pink;
    padding-left: 10px; 
    padding-right: 10px;
    border-radius: 10px;

    
    }
    
.display {
    border: 2px solid black;
    margin-top: 10px;
    height: 100px;
    width: 230px;
    background-color: rgb(238, 236, 236);
    margin-bottom: 10px;
    margin-left: 5px;    
    border-radius: 10px;
    text-align: end;
    font-size: larger;
    font-family: sans-serif;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
    
    button {
        /* margin: 10px; */
        height: 50px;
        width: 50px;
        margin: 5px;
        border-radius: 10px;
        background-color: rgb(145, 127, 163);
}


#zero {
    width: 110px;
}
                
.operator {
    background-color: rgba(255, 255, 0, 0.218);
}

.numb {
    background-color: whitesmoke;
}